<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<head>
  <title>[[${pageAttr.get('title')}]] Food</title>
</head>

<th:block layout:fragment="script">
  <script th:inline="javascript">

    const previewHolder = document.getElementById('images-preview-holder');
    const inputHiddenHolder = document.getElementById('InputHiddenHolder');

    function addImageFileString(filename) {
      const inputEl = document.createElement('input');
      inputEl.setAttribute('type', 'hidden');
      inputEl.setAttribute('name', 'imageFiles');
      inputEl.setAttribute('value', filename);
      previewHolder.appendChild(inputEl);
      inputHiddenHolder.appendChild(inputEl);
    }

    function addImagePreview(imageDTO) {
      const el = document.createElement('div');
      el.classList.add('list-group-item', 'list-group-item-action');
      el.innerHTML = `
        <div class="row">
          <div class="col-auto">
            <button type="button" class="btn-close" aria-label="Close"></button>
          </div>
          <div class="col-auto">
            <img>
          </div>
        </div>
        `
      el.querySelector("img").src = `/th/${imageDTO.id}_${imageDTO.name}`
      previewHolder.appendChild(el);
    }

    function addServerImages(...imageDTO) {
      for (const dto of imageDTO) {
        addImageFileString(`${dto.id}_${dto.name}`)
        addImagePreview(dto);
      }
    }

    const imageInput = document.getElementById('imageInput');
    console.log(imageInput);
    imageInput.addEventListener('change', (event) => {
      event.preventDefault();
      event.stopPropagation();
      const files = [...imageInput.files]
      console.log({ files });
      if (files.length > 0) {
        uploadImages(...files).then(response => {
          const { data } = response
          addServerImages(...data)
        })
      }
    })

    const imageList = /*[[${food != null ? food.images : null }]]*/ [];

    addServerImages(...(imageList ?? []));
  </script>
  <script th:src="@{/js/food/fu.js}"></script>
</th:block>
</html>