<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<head>
  <title>[[${useTitle}]] Bucket</title>
</head>
<div class="container" layout:fragment="content">
  <main class="py-3">
  <form th:action="${useAction}" method="POST">
    <th:block th:if="${requestDTO != null}">
      <th:block th:each="pair : ${requestDTO.useParams()}">
        <input type="hidden" th:name="${pair.getFirst()}" th:value="${pair.getSecond()}">
      </th:block>
    </th:block>
    <input th:if="${useEdit}" type="hidden" name="id" th:value="${bucket.getId()}">
    <div class="card">
      <div class="card-header" th:text="${useTitle}"></div>
      <div class="card-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="title" name="title" placeholder="Title" th:value="${bucket.getTitle()}">
          <label for="title">Title</label>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Status</span>
          <div class="btn-group" role="group">
            <input type="radio" class="btn-check" name="status" id="btnradio1" value="0" autocomplete="off" th:checked="${bucket.getStatus() == 0}" >
            <label class="btn btn-outline-secondary" for="btnradio1" style="border-radius: 0;" >In Progress</label>
            <input type="radio" class="btn-check" name="status" id="btnradio2" value="1" autocomplete="off" th:checked="${bucket.getStatus() == 1}" >
            <label class="btn btn-outline-success" for="btnradio2">Finished</label>
            <input type="radio" class="btn-check" name="status" id="btnradio3" value="-1" autocomplete="off" th:checked="${bucket.getStatus() == -1}" >
            <label class="btn btn-outline-danger" for="btnradio3">Dropped</label>
          </div>
        </div>
        <div class="form-floating mb-3">
          <input type="datetime-local" class="form-control" id="dueTo" name="dueTo" placeholder="dueTo" th:value="${#temporals.format(bucket.getDueTo(), 'yyyy-MM-dd HH:mm')}">
          <label for="dueTo">Due To</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="" id="descriptionTA" name="description" th:text="${bucket.getDescription()}" style="height: 360px;"></textarea>
          <label for="descriptionTA">Content</label>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" class="btn btn-primary" value="Save">
      </div>
    </div>
  </form>
  </main>
  <!--/*@thymesVar id="invalid" type="java.util.List<org.springframework.validation.ObjectError>"*/-->
  <div th:if="${invalid != null}">
    <div th:each="error : ${invalid}" class="alert alert-danger alert-dismissible fade show" role="alert">
      <span th:text="${error.getField()}" /> <span th:text="${error.getDefaultMessage()}" />
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
</html>
