<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<head>
  <title>Bucket</title>
</head>
<main class="container" layout:fragment="content">
  <div class="jumbotron display-1 text-center py-4">
    Bucket
  </div>
  <div class="py-4">
    <form th:action="@{/bucket}" method="get">
      <div class="input-group">
        <div class="btn-group" role="group" aria-label="Filter Options">
          <input name="searchFor" value="title" type="checkbox" class="btn-check" id="filterTitle" autocomplete="off" th:checked="${requestDTO.isSearchingFor('title')}">
          <label class="btn btn-outline-light" for="filterTitle">Title</label>
          <input name="searchFor" value="description" type="checkbox" class="btn-check" id="filterDescription"
                 autocomplete="off" th:checked="${requestDTO.isSearchingFor('description')}">
          <label class="btn btn-outline-light" for="filterDescription" style="border-radius: 0">Description</label>
        </div>
        <input name="search" type="text" class="form-control" placeholder="Search" th:value="${requestDTO.getSearch()}" />
        <input type="submit" class="btn btn-primary" value="Search" />
      </div>
      <div class="row py-2">
        <div class="col-auto">
          <div>Status</div>
          <div class="btn-group" role="group">
            <input type="checkbox" class="btn-check" name="statusOf" id="status-in-progress" value="0" th:checked="${requestDTO.isLookingForStatusOf(0)}" autocomplete="off">
            <label class="btn btn-outline-light" for="status-in-progress">In Progress</label>
            <input type="checkbox" class="btn-check" name="statusOf" id="status-finished" value="1" th:checked="${requestDTO.isLookingForStatusOf(1)}" autocomplete="off">
            <label class="btn btn-outline-success" for="status-finished">Finished</label>
            <input type="checkbox" class="btn-check" name="statusOf" id="status-dropped" value="-1" th:checked="${requestDTO.isLookingForStatusOf(-1)}" autocomplete="off">
            <label class="btn btn-outline-danger" for="status-dropped">Dropped</label>
          </div>
        </div>
        <div class="col">
          <div>Due Date range</div>
          <div class="row">
            <div class="col">
              <div class="form-floating">
                <input type="datetime-local" class="form-control" name="dueStart" id="dueStart" autocomplete="off" th:value="${requestDTO.getDueStart()}">
                <label for="dueStart">From</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="datetime-local" class="form-control" name="dueEnd" id="dueEnd" autocomplete="off" th:value="${requestDTO.getDueEnd()}">
                <label for="dueEnd">To</label>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Status</th>
        <th>Title</th>
        <th>Description</th>
        <th>Due To</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="li : ${dto.getDtoList()}">
        <td>
          <!--/*@thymesVar id="getBadge" type="dev.nemi.aoharu.dto.bucket.BucketViewDTO"*/-->
          <th:block th:switch="${li.getBadge()}">
            <span th:case="${'expired'}" class="badge text-bg-warning" style="vertical-align: text-top">Expired</span>
            <span th:case="${'finished'}" class="badge text-bg-success" style="vertical-align: text-top">Finished</span>
            <span th:case="${'dropped'}" class="badge text-bg-danger" style="vertical-align: text-top">Dropped</span>
          </th:block>
        </td>
        <td><a th:href="@{'/bucket/view/' + ${li.getId()} + ${requestDTO.useQuery()}}" th:text="${li.getTitle()}" /></td>
        <td th:text="${li.getDescription()}"></td>
        <td th:text="${#temporals.format(li.getDueTo(), 'yyyy-MM-dd HH:mm')}"></td>
      </tr>
      </tbody>
    </table>
  </div>
  <nav>
    <ul class="pagination justify-content-center">
      <th:block th:if="${dto.start > 1}">
        <li class="page-item">
          <a class="page-link" th:href="@{'/bucket' + ${requestDTO.useQuery(1)}}">
            1
          </a>
        </li>
        <li class="page-item disabled">
          <a class="page-link">
            &ctdot;
          </a>
        </li>
      </th:block>
      <th:block th:each="pgIndex: ${#numbers.sequence(dto.start, dto.end)}">
        <li class="page-item" th:classappend="${dto.page == pgIndex}? 'active'">
          <a class="page-link" th:href="@{'/bucket' + ${requestDTO.useQuery(pgIndex)}}" th:text="${pgIndex}"></a>
        </li>
      </th:block>
      <th:block th:if="${dto.end < dto.last}">
        <li class="page-item disabled">
          <a class="page-link">
            &ctdot;
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" th:href="@{'/bucket' + ${requestDTO.useQuery(dto.last)}}">
            [[${dto.last}]]
          </a>
        </li>
      </th:block>
    </ul>
  </nav>
  <div class="mt-4 text-center">
    <a th:href="@{/bucket/write}">
      <button type="button" class="btn btn-primary">Write</button>
    </a>
  </div>
</main>
</html>
