<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<head>
  <title th:text="${bucket.getTitle()}"></title>
</head>

<th:block layout:fragment="script">
  <script th:inline="javascript">

    function deleteAction() {
      const form = document.createElement('form');
      form.method = 'POST';
      form.action = /*[[${deleteAction}]]*/ '';
      document.body.appendChild(form);
      form.submit();
    }
    document.getElementById('DeleteButton').addEventListener('click', e => {
      if (window.confirm('Are you sure you want to delete this bucket?')) {
        deleteAction();
      }
    });
  </script>
</th:block>
</html>