<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/bootstrap.html}">
<div class="container" layout:fragment="content">

  <div class="list-group">
    <a class="list-group-item list-group-item-action" th:href="@{/arona}">아로나</a>
    <a class="list-group-item list-group-item-action" th:href="@{/arona(useChroma=1)}">아로나?</a>
  </div>
  <section>
    <pre><code id="output"></code></pre>
  </section>
</div>
<script layout:fragment="script" th:inline="javascript">
</script>
</html>